{% extends "auctions/layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'auctions/liststyle.css' %}">
{% endblock head %}

{% block body %}
    <h2>All Listings</h2>
    <div class="p-2 m-0">
        <div class="row">
            {% for item in items %}
                <div class="d-flex col-sm-6 col-lg-3">
                    <a class="text-dark" href="{% url 'item' item.pk %}">
                        <div class="card mt-3" style="width:18rem;">
                            {% if not item.image_url %}
                                <img class="card-img-top" src="{% static 'auctions/default.jpg' %}" alt="image of {{ item.title }}">
                            {% else %}
                                <img class="card-img-top" src="{{ item.image_url }}" alt="image of {{ item.title }}">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ item.title }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ item.category }}</h6>
                                <p class="card-text">
                                    {{ item.description|slice:"0:20" }}..........to visit auction page 
                                    <a href="{% url 'item' item.pk %}"><strong>Click here</strong></a>
                                </p>
                                {% if not item.is_active %}
                                    <p class="text-danger card-text mt-0"><strong>Auction closed</strong></p>
                                {% else %}
                                    <p class="card-text mt-0"><strong>Starting Bid: &#8377;&nbsp;{{ item.starting_bid }}</strong></p>
                                {% endif %}                
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
        
{% endblock %}