{% extends 'auctions/layout.html' %}

{% block title %}
    Create Listing
{% endblock title %}  

{% block body %}
    <div>
        <h2>Create your listing</h2>
    </div>
    <div class="mx-auto" style="width: 400px;">
        <h3 style="text-align: center;">Listing details</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">Title</label>
                <input required class="form-control" maxlength="64" type="text" name="title" id="title">
            </div>
        
            <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control" name="category" id="category">
                    {% for category in categories %}
                        <option value="{{category.type}}">{{category.type}}</option>
                    {% endfor %}       
                </select>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" required name="description" id="description" maxlength="256"
                        cols="30" rows="10"></textarea>
            </div>

            <div class="form-group">
                <label for="imgurl">Image URL</label>
                <input class="form-control" type="url" name="imgurl" id="imgurl">
            </div>

            <div class="form-group">
                <label for="bid">Starting Bid</label>
                <input class="form-control" required min="0" type="number" name="bid" id="bid">
            </div>
            
            <div style="text-align: center;">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </form>
    </div>
{% endblock body %}
    